# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Django media (NO versionar datos)
# ========================
Backend/media/

# ========================
# Numpy
# ========================
*.npy

# ========================
# Entornos
# ========================
.env
venv/

node_modules/